#container-principal-categoria{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#container-botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}